/* Index/Home page styling */

* {
    box-sizing: border-box;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

body {
    background-color: #BFC8EF;
}

/* Background image container */
.fixed-bg {
    background-image: url("../images/heiser168.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}

/* Left side on the background image area */
.left {
    width: 25%;
    float: left;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 1%;
}

/* Right side on the background image area */
.right {
    width: 75%;
    float: left;
    margin-top: 10%; 
    margin-bottom: 10%;
    padding-left: 5%;
    padding-right: 10%;
}

/* Menu part for 3 buttons on the background image */
.menu {
    float: left;
    text-align: center;
}

.menu a {
    background-color: #e5e5e5;
    padding: 8px;
    display: block;
    width: 100%;
    color: #172C58;
    text-decoration: none;
    box-shadow: 10px 10px 20px #354164;
    margin-bottom: 20px;
}

.opt{
    opacity: 0.8;
}
.opt:hover{
    opacity: 1.0;
    background-color: #354164;
    color: #F0F1F2;
}

/* "Why study Computer Science at NCF?" titled container */
.main {
    color: black;
    float: left;
    padding: 15px;
    text-align: center;
    background-color: #F0F1F2;
    box-shadow: 10px 10px 20px #354164;
    opacity: 0.9;
}

/* Warning for the COVID updates */
.warning {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
}
.warning a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 15px #4D3B67;
    border: solid;
    background-color: #E7EAF9;
    border-color: #8E2626;
    color: #8E2626;
    margin-left: 1%;
    margin-right: 1%;
}
.warning a:hover{
    background-color: #b87676;
    border-color: #8E2626;
    color: #E7EAF9;
}

/* Create two equal columns for footer, that floats next to each other */
.indexColumn {
    text-align: left;
    float: left;
    width: 50%;
    height: auto;
    padding: 40px;
    background-color: #f0f1f2;
}
  
/* Clear floats after the columns */
.secondArea:after {
    content: "";
    display: table;
    clear: both;
}

.theses > dd {
    display: list-item;
    list-style-type: disc;
    font-style: bold;
}

#projects {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 2px #172C58;
    background-color: #26478E;
    color: white;
    text-decoration: none;
}

#projects:hover{
    background-color: #354164;
    color: white;
}

.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-container img {vertical-align: middle;}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: black;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(143, 133, 238);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #735c97dc;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .fixed-bg, .right, .left, .warning, .indexColumn{
        width: 100%;
    }
}